/* --------------------------- ESTILOS ESCRITORIO --------------------------- */
/* Barra superior e inferior de la tabla */
#inicio .table-bar {
    display: flex;
    justify-content: flex-end;

    gap: 0.7em;
    margin: 0.7em 0.4em 0.9em 0;
}

#inicio .table-bar button, #inicio .table-bar input {
    border: 0;
    border-radius: 5px;
    box-shadow: var(--orange) 5px 5px;
    background-color: var(--light-blue);

    outline: 0;

    padding: 0.4em 0.5em;
}

#inicio .table-bar #table-search {
    background-color: white;
}

#inicio .table-bar #table-search:focus {
    background-color: var(--yellow);
}

#inicio .table-bar button:hover {
    background-color: var(--yellow);
    cursor: pointer;
}

#inicio .table-bar button > img {
    transform: scale(0.8);
    vertical-align: middle;
}

/* Tabla de inicio */
#inicio table {
    border-radius: 7px;
    border-spacing: 0;
    box-shadow: 0 10px 40px var(--light-shade);

    overflow: hidden;
    width: 100%;
}

#inicio table td span {
    background: var(--light-shade);
    color: dimgrey;
    display: none;
    font-size: 0.7em;
    font-weight: bold;
    padding: 5px;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    left: 0;
}

#inicio tbody {
    background-color: var(--blue-shade);
}

#inicio tbody > tr:nth-last-of-type(even) {
    background-color: var(--light-shade);
}

#inicio tbody > tr:hover, tbody > tr:nth-last-of-type(even):hover {
    background-color: var(--light-blue);
}

#inicio td, th {
    padding: 1em;
}

#inicio th {
    background-color: var(--dark-blue);
    color: var(--yellow);
}

/* Alinear columnas de texto a la izquierda */
#inicio tr > td, #inicio tr > th {
    text-align: start;
}

/* Alinear acciones al centro */
#inicio tr > th:last-of-type, #inicio tr > td:last-of-type {
    text-align: center;
}

#inicio tbody > tr > td > img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

/* ---------------------------- ESTILOS MÓVILES ---------------------------- */
@media only screen and (max-width: 900px) {
    #inicio .table-bar #table-search, #table-bar-bottom button {
        flex-grow: 1;
    }

    #inicio table {
        box-shadow: none;
    }

    #inicio table thead {
        left: -9999px;
        position: absolute;
        visibility: hidden;
    }

    #inicio table tbody {
        background-color: transparent;
    }

    #inicio table tr {
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 2em;
    }

    #inicio table td {
        background-color: var(--blue-shade);
        box-sizing: border-box;
        border-radius: 5px;
        border: 2px solid var(--light-yellow);
        font-size: 0.95em;
        position: relative;
        
        margin: 0 -1px -1px 0;
        padding-top: 35px;
        overflow-wrap: anywhere;
        overflow: hidden;
        width: 50%;
    }

    #inicio table td:hover {
        background-color: var(--light-blue);
    }

    #inicio .numeric-cell {
        text-align: start;
    }

    #inicio table > tbody tr td:last-child {
        text-align: start;
        width: 100%;
    }

    #inicio tbody > tr:nth-last-of-type(even),
    #inicio tbody > tr:hover, 
    tbody > tr:nth-last-of-type(even):hover {
        background-color: transparent;
    }

    #inicio tbody > tr:last-child {
        margin-bottom: 0;
    }

    #inicio table td span {
        border-radius: 0 0 5px 0;
        display: block;
        user-select: none;
    }
}