@import "base.css";
@import "admin_user_list.css"; /* Estilos para la lista de usuarios */
@import "admin_user_add.css"; /* Estilos para el formulario de añadir usuario */

/* --------------------------- ESTILOS ESCRITORIO --------------------------- */
/* -------------------------- Cabecera -------------------------- */
html, body {
    height: 100%;
}

body {
    display: flex;
}

a {
    display: block;
    text-decoration: none; 
}

aside {
    color: var(--yellow);
    background-color: var(--dark-blue);
    
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: transform 1s, width .5s;
    height: 100%;
    width: 260px;
    z-index: 1;
}

aside * {
    color: inherit;
    white-space: nowrap;
}

aside > a {
    height: 75px;
    margin-top: 1.4em;
}

aside > a > img {
    height: inherit;
}

aside > nav {
    flex-grow: 1;

    margin-top: 2em;
    width: 260px;
}

aside > nav ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    
    margin: 0;
    padding: 0;
}

aside > nav a:hover, .sidebar-selected {
    background-color: var(--light-shade);
}

aside > nav a, aside > nav > ul > li:nth-of-type(1) {
    padding: 0.7em 0 0.7em 2em;
}

/* Elementos de primer nivel de la lista */
.sidebar-list-main {
    font-size: 1.2em;
    font-family: "Lato", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
}

/* Elementos de segundo nivel de la lista */
.sidebar-list-sub {
    display: flex;
    align-items: flex-end;
    text-transform: capitalize;
    
    padding: 0.5em 0 0.5em 3.5em;
}

.sidebar-list-sub > svg {
    padding-right: 0.5em;
    transform: scale(0.8);
}
/* -------------------------------------- */

/* Parte inferior del menú lateral que muestra la info del usuario. */
#user-info {
    border-top: 3px solid var(--light-shade);

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.5em 0;
    width: 100%;
}

#user-info > img {
    height: 60px;
    clip-path: circle(22px at 50%);
    margin-right: 0.5em;
}
/* ---------------------------------------------------------------- */

/* Botones para mostrar y ocultar el menú lateral. */
.sidebar-toggle {
    border: 0;
    background-color: var(--dark-blue);
    font-size: 1em;
    height: 30px;
}

.sidebar-toggle:hover {
    cursor: pointer;
}

.sidebar-toggle:focus {
    outline: 0;
}
/* ----------------------------------------------- */

/* Botón para ocultar el menú lateral. */
#hide-sidebar {
    border-radius: 15px 0 0 15px;
    
    align-self: flex-end;
    align-items: center;
    display: flex;
    
    position: fixed;
    top: 50%;
    padding: 0 0 0 0.2em;
}

/* Botón para mostrar el menú lateral. */
#show-sidebar {
    border-radius: 0 15px 15px 0;
    color: var(--yellow);
    display: none;
    align-items: center;
    
    position: fixed;
    padding: 0 0.2em 0 0;
    top: 50%;
    left: 0;
}

#show-sidebar > svg, #hide-sidebar > svg {
    transform: scale(0.8);
}

/* Clase que se añade al menú lateral para ocultarlo. */
.sidebar-hide {
    transform: translateX(-270px);
    width: 0px;
}

/* --------------------------- Cuerpo --------------------------- */
h1 {
    color: var(--dark-blue);
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    /* height: fit-content; */
    padding: 0 2em 1em 3em;
    overflow: scroll;
}

/* ---------------------------- ESTILOS MÓVILES ---------------------------- */
@media only screen and (max-width: 1160px) {
    aside {
        position: absolute;
    }
}

@media only screen and (max-width: 900px) {
    aside {
        overflow-y: scroll;
    }
}